In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('data.csv')

In [3]:
df1=df.replace(0,np.nan).dropna(axis=0).reset_index(drop=True)
df1

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
0,3.0,53,1.0,1.0,1.0,1,US,4.0,2.0,5.0,...,4.0,1.0,3.0,1.0,5.0,1.0,4.0,2.0,5.0,5.0
1,13.0,46,1.0,2.0,1.0,1,US,2.0,2.0,3.0,...,3.0,3.0,3.0,3.0,2.0,3.0,3.0,1.0,3.0,2.0
2,1.0,14,2.0,2.0,1.0,1,PK,5.0,1.0,1.0,...,4.0,5.0,5.0,1.0,5.0,1.0,5.0,5.0,5.0,5.0
3,3.0,19,2.0,2.0,1.0,1,RO,2.0,5.0,2.0,...,4.0,3.0,5.0,2.0,4.0,2.0,5.0,2.0,5.0,5.0
4,11.0,25,2.0,2.0,1.0,2,US,3.0,1.0,3.0,...,3.0,1.0,1.0,1.0,3.0,1.0,3.0,1.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19370,11.0,15,1.0,2.0,1.0,2,SG,1.0,4.0,3.0,...,1.0,3.0,5.0,3.0,4.0,1.0,4.0,2.0,5.0,3.0
19371,3.0,37,1.0,2.0,1.0,2,US,2.0,3.0,2.0,...,1.0,2.0,3.0,2.0,3.0,3.0,4.0,2.0,3.0,3.0
19372,5.0,16,2.0,1.0,1.0,2,US,2.0,5.0,4.0,...,5.0,3.0,1.0,3.0,4.0,1.0,1.0,5.0,5.0,5.0
19373,12.0,16,1.0,1.0,1.0,5,NG,1.0,4.0,2.0,...,3.0,2.0,5.0,3.0,4.0,1.0,5.0,3.0,5.0,5.0
19374,3.0,35,1.0,1.0,1.0,1,US,2.0,3.0,1.0,...,5.0,1.0,5.0,1.0,4.0,1.0,5.0,5.0,5.0,5.0

In [4]:
traits = ['O','C','E','A','N']

for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1[traits]

          O     C     E     A     N
0      31.0  31.0  32.0  32.0  19.0
1      26.0  28.0  28.0  31.0  29.0
2      41.0  33.0  29.0  38.0  46.0
3      37.0  34.0  36.0  37.0  43.0
4      22.0  26.0  26.0  40.0  32.0
...     ...   ...   ...   ...   ...
19370  31.0  34.0  29.0  34.0  41.0
19371  26.0  30.0  29.0  28.0  25.0
19372  33.0  37.0  35.0  34.0  42.0
19373  36.0  35.0  29.0  32.0  38.0
19374  37.0  40.0  28.0  33.0  33.0

[19375 rows x 5 columns]

In [5]:
frames = ['O','C','E','A','N']

for frame in frames:
    frame_cols = sorted([col for col in df.columns if frame in col])
    df[frame] = df[frame_cols].mean(axis=1)
df[frames]
df

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O6,O7,O8,O9,O10,O,C,E,A,N
0,3,53,1,1,1,1,US,4,2,5,...,1,4,2,5,5,3.1,3.1,3.2,3.2,1.9
1,13,46,1,2,1,1,US,2,2,3,...,3,3,1,3,2,2.6,2.8,2.8,3.1,2.9
2,1,14,2,2,1,1,PK,5,1,1,...,1,5,5,5,5,4.1,3.3,2.9,3.8,4.6
3,3,19,2,2,1,1,RO,2,5,2,...,2,5,2,5,5,3.7,3.4,3.6,3.7,4.3
4,11,25,2,2,1,2,US,3,1,3,...,1,3,1,5,3,2.2,2.6,2.6,4.0,3.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19714,11,15,1,2,1,2,SG,1,4,3,...,1,4,2,5,3,3.1,3.4,2.9,3.4,4.1
19715,3,37,1,2,1,2,US,2,3,2,...,3,4,2,3,3,2.6,3.0,2.9,2.8,2.5
19716,5,16,2,1,1,2,US,2,5,4,...,1,1,5,5,5,3.3,3.7,3.5,3.4,4.2
19717,12,16,1,1,1,5,NG,1,4,2,...,1,5,3,5,5,3.6,3.5,2.9,3.2,3.8
19718,3,35,1,1,1,1,US,2,3,1,...,1,5,5,5,5,3.7,4.0,2.8,3.3,3.3

In [6]:
traits = ['O']
for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1['O_trait']=df1[traits]
df1['O_cat']=df1['O_trait'] >=20

traits = ['C']
for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1['C_trait']=df1[traits]
df1['C_cat']=df1['C_trait'] >= 20

traits = ['E']
for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1['E_trait']=df1[traits]
df1['E_cat']=df1['E_trait'] >= 20

traits = ['A']
for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1['A_trait']=df1[traits]
df1['A_cat']=df1['A_trait'] >=20

traits = ['N']
for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1['N_trait']=df1[traits]
df1['N_cat']=df1['N_trait'] 

df1

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O_trait,O_cat,C_trait,C_cat,E_trait,E_cat,A_trait,A_cat,N_trait,N_cat
0,3.0,53,1.0,1.0,1.0,1,US,4.0,2.0,5.0,...,62.0,True,62.0,True,64.0,True,64.0,True,38.0,38.0
1,13.0,46,1.0,2.0,1.0,1,US,2.0,2.0,3.0,...,52.0,True,56.0,True,56.0,True,62.0,True,58.0,58.0
2,1.0,14,2.0,2.0,1.0,1,PK,5.0,1.0,1.0,...,82.0,True,66.0,True,58.0,True,76.0,True,92.0,92.0
3,3.0,19,2.0,2.0,1.0,1,RO,2.0,5.0,2.0,...,74.0,True,68.0,True,72.0,True,74.0,True,86.0,86.0
4,11.0,25,2.0,2.0,1.0,2,US,3.0,1.0,3.0,...,44.0,True,52.0,True,52.0,True,80.0,True,64.0,64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19370,11.0,15,1.0,2.0,1.0,2,SG,1.0,4.0,3.0,...,62.0,True,68.0,True,58.0,True,68.0,True,82.0,82.0
19371,3.0,37,1.0,2.0,1.0,2,US,2.0,3.0,2.0,...,52.0,True,60.0,True,58.0,True,56.0,True,50.0,50.0
19372,5.0,16,2.0,1.0,1.0,2,US,2.0,5.0,4.0,...,66.0,True,74.0,True,70.0,True,68.0,True,84.0,84.0
19373,12.0,16,1.0,1.0,1.0,5,NG,1.0,4.0,2.0,...,72.0,True,70.0,True,58.0,True,64.0,True,76.0,76.0
19374,3.0,35,1.0,1.0,1.0,1,US,2.0,3.0,1.0,...,74.0,True,80.0,True,56.0,True,66.0,True,66.0,66.0

In [7]:
df2 = df1.drop(['O_trait','C_trait','E_trait','A_trait','N_trait'],axis = 1)

In [8]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [9]:
df2['country_cat'] = labelencoder.fit_transform(df1['country'])
df2 = df2.drop(['country'],axis = 1)

In [10]:
df2.dtypes

race           float64
age              int64
engnat         float64
gender         float64
hand           float64
                ...
C_cat             bool
E_cat             bool
A_cat             bool
N_cat          float64
country_cat      int32
Length: 67, dtype: object

In [11]:
import scipy
from skmultilearn.problem_transform import BinaryRelevance
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

X = df2.iloc[:,0:19]  
y = df2.iloc[:,-1].values

In [12]:
from sklearn.datasets import make_multilabel_classification

# this will generate a random multi-label dataset
X, y = make_multilabel_classification(sparse = True, n_labels = 20,
return_indicator = 'sparse', allow_unlabeled = False)

In [17]:
classifier = BinaryRelevance(GaussianNB())

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

classifier.fit(X_train, y_train)

predictions = classifier.predict(X_test)

In [18]:
print(predictions)

  (0, 0)	1
  (1, 0)	1
  (2, 0)	1
  (3, 0)	1
  (4, 0)	1
  (5, 0)	1
  (6, 0)	1
  (7, 0)	1
  (8, 0)	1
  (9, 0)	1
  (10, 0)	1
  (11, 0)	1
  (12, 0)	1
  (13, 0)	1
  (14, 0)	1
  (15, 0)	1
  (16, 0)	1
  (17, 0)	1
  (18, 0)	1
  (19, 0)	1
  (0, 1)	1
  (1, 1)	1
  (2, 1)	1
  (3, 1)	1
  (4, 1)	1
  :	:
  (15, 3)	1
  (16, 3)	1
  (17, 3)	1
  (18, 3)	1
  (19, 3)	1
  (0, 4)	1
  (1, 4)	1
  (2, 4)	1
  (3, 4)	1
  (4, 4)	1
  (5, 4)	1
  (6, 4)	1
  (7, 4)	1
  (8, 4)	1
  (9, 4)	1
  (10, 4)	1
  (11, 4)	1
  (12, 4)	1
  (13, 4)	1
  (14, 4)	1
  (15, 4)	1
  (16, 4)	1
  (17, 4)	1
  (18, 4)	1
  (19, 4)	1

In [ ]:
# using classifier chains
from skmultilearn.problem_transform import ClassifierChain
from sklearn.naive_bayes import GaussianNB

# initialize classifier chains multi-label classifier
# with a gaussian naive bayes base classifier
classifier = ClassifierChain(GaussianNB())

# train
classifier.fit(X_train, y_train)

# predict
predictions = classifier.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)