In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df= pd.read_csv('data.csv')

In [4]:
df1=df.replace(0,np.nan).dropna(axis=0).reset_index(drop=True)
df1

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
0,3.0,53,1.0,1.0,1.0,1,US,4.0,2.0,5.0,...,4.0,1.0,3.0,1.0,5.0,1.0,4.0,2.0,5.0,5.0
1,13.0,46,1.0,2.0,1.0,1,US,2.0,2.0,3.0,...,3.0,3.0,3.0,3.0,2.0,3.0,3.0,1.0,3.0,2.0
2,1.0,14,2.0,2.0,1.0,1,PK,5.0,1.0,1.0,...,4.0,5.0,5.0,1.0,5.0,1.0,5.0,5.0,5.0,5.0
3,3.0,19,2.0,2.0,1.0,1,RO,2.0,5.0,2.0,...,4.0,3.0,5.0,2.0,4.0,2.0,5.0,2.0,5.0,5.0
4,11.0,25,2.0,2.0,1.0,2,US,3.0,1.0,3.0,...,3.0,1.0,1.0,1.0,3.0,1.0,3.0,1.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19370,11.0,15,1.0,2.0,1.0,2,SG,1.0,4.0,3.0,...,1.0,3.0,5.0,3.0,4.0,1.0,4.0,2.0,5.0,3.0
19371,3.0,37,1.0,2.0,1.0,2,US,2.0,3.0,2.0,...,1.0,2.0,3.0,2.0,3.0,3.0,4.0,2.0,3.0,3.0
19372,5.0,16,2.0,1.0,1.0,2,US,2.0,5.0,4.0,...,5.0,3.0,1.0,3.0,4.0,1.0,1.0,5.0,5.0,5.0
19373,12.0,16,1.0,1.0,1.0,5,NG,1.0,4.0,2.0,...,3.0,2.0,5.0,3.0,4.0,1.0,5.0,3.0,5.0,5.0
19374,3.0,35,1.0,1.0,1.0,1,US,2.0,3.0,1.0,...,5.0,1.0,5.0,1.0,4.0,1.0,5.0,5.0,5.0,5.0

In [4]:
#df2=df1.loc[df1['country'] == 'US']
#df2

In [5]:
df1['country'].value_counts()

US    8582
GB    1495
IN    1452
AU     953
CA     904
      ...
PW       1
BF       1
IM       1
CV       1
KY       1
Name: country, Length: 157, dtype: int64

In [6]:
traits = ['O','C','E','A','N']

for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1[traits]

          O     C     E     A     N
0      31.0  31.0  32.0  32.0  19.0
1      26.0  28.0  28.0  31.0  29.0
2      41.0  33.0  29.0  38.0  46.0
3      37.0  34.0  36.0  37.0  43.0
4      22.0  26.0  26.0  40.0  32.0
...     ...   ...   ...   ...   ...
19370  31.0  34.0  29.0  34.0  41.0
19371  26.0  30.0  29.0  28.0  25.0
19372  33.0  37.0  35.0  34.0  42.0
19373  36.0  35.0  29.0  32.0  38.0
19374  37.0  40.0  28.0  33.0  33.0

[19375 rows x 5 columns]

In [11]:
df2['country_cat'] = labelencoder.fit_transform(df1['country'])
df2 = df2.drop(['country'],axis = 1)

In [7]:
frames = ['O','C','E','A','N']

for frame in frames:
    frame_cols = sorted([col for col in df.columns if frame in col])
    df[frame] = df[frame_cols].mean(axis=1)
df[frames]

         O    C    E    A    N
0      3.1  3.1  3.2  3.2  1.9
1      2.6  2.8  2.8  3.1  2.9
2      4.1  3.3  2.9  3.8  4.6
3      3.7  3.4  3.6  3.7  4.3
4      2.2  2.6  2.6  4.0  3.2
...    ...  ...  ...  ...  ...
19714  3.1  3.4  2.9  3.4  4.1
19715  2.6  3.0  2.9  2.8  2.5
19716  3.3  3.7  3.5  3.4  4.2
19717  3.6  3.5  2.9  3.2  3.8
19718  3.7  4.0  2.8  3.3  3.3

[19719 rows x 5 columns]

In [17]:
traits = ['O']
for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1['O_trait']=df1[traits]
df1['O_cat']=df1['O_trait'] >= 50


traits = ['C']
for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1['C_trait']=df1[traits]
df1['C_cat']=df1['C_trait'] >= 50

traits = ['E']
for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1['E_trait']=df1[traits]
df1['E_cat']=df1['E_trait'] >= 50

traits = ['A']
for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1['A_trait']=df1[traits]
df1['A_cat']=df1['A_trait'] >50

traits = ['N']

for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1['N_trait']=df1[traits]
df1['N_cat']=df1['N_trait'] >=50

In [18]:
df2 = df1.drop(['O_trait','C_trait','E_trait','A_trait','N_trait'],axis = 1)
df2

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O,C,E,A,N,O_cat,C_cat,E_cat,A_cat,N_cat
0,3.0,53,1.0,1.0,1.0,1,US,4.0,2.0,5.0,...,93.0,93.0,96.0,96.0,57.0,True,True,True,True,True
1,13.0,46,1.0,2.0,1.0,1,US,2.0,2.0,3.0,...,78.0,84.0,84.0,93.0,87.0,True,True,True,True,True
2,1.0,14,2.0,2.0,1.0,1,PK,5.0,1.0,1.0,...,123.0,99.0,87.0,114.0,138.0,True,True,True,True,True
3,3.0,19,2.0,2.0,1.0,1,RO,2.0,5.0,2.0,...,111.0,102.0,108.0,111.0,129.0,True,True,True,True,True
4,11.0,25,2.0,2.0,1.0,2,US,3.0,1.0,3.0,...,66.0,78.0,78.0,120.0,96.0,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19370,11.0,15,1.0,2.0,1.0,2,SG,1.0,4.0,3.0,...,93.0,102.0,87.0,102.0,123.0,True,True,True,True,True
19371,3.0,37,1.0,2.0,1.0,2,US,2.0,3.0,2.0,...,78.0,90.0,87.0,84.0,75.0,True,True,True,True,True
19372,5.0,16,2.0,1.0,1.0,2,US,2.0,5.0,4.0,...,99.0,111.0,105.0,102.0,126.0,True,True,True,True,True
19373,12.0,16,1.0,1.0,1.0,5,NG,1.0,4.0,2.0,...,108.0,105.0,87.0,96.0,114.0,True,True,True,True,True
19374,3.0,35,1.0,1.0,1.0,1,US,2.0,3.0,1.0,...,111.0,120.0,84.0,99.0,99.0,True,True,True,True,True

In [12]:
df2.dtypes

race           float64
age              int64
engnat         float64
gender         float64
hand           float64
                ...
C_cat             bool
E_cat             bool
A_cat             bool
N_cat             bool
country_cat      int32
Length: 67, dtype: object

In [13]:
import scipy
from skmultilearn.problem_transform import BinaryRelevance
from sklearn.naive_bayes import GaussianNB

classifier = BinaryRelevance(GaussianNB())

X_train = df2.iloc[:,0:19]  
y_train = df2.iloc[:,-1].values  
y_train.shape

(19375,)

In [16]:

classifier.fit(X_train, y_train)


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =  train_test_split(X,y,test_size = 0.2, random_state= 0)

predictions = classifier.predict(X_test)

NameError: name 'X' is not defined