In [1]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv("test.csv")

In [3]:
type(data)

pandas.core.frame.DataFrame

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     5 non-null      object
 1   Life     5 non-null      object
 2   DOB      5 non-null      object
 3   DOB.1    5 non-null      object
 4   Name     5 non-null      object
 5   City     5 non-null      object
 6   Country  5 non-null      object
dtypes: object(7)
memory usage: 408.0+ bytes

In [5]:
data.describe()

              Date        Life        DOB             DOB.1 Name City Country
count            5           5          5                 5    5    5       5
unique           5           5          5                 5    4    5       4
top     27-06-2020  2020-05-27  29-Jun-90  28-06-1990 00:00    f    s       f
freq             1           1          1                 1    2    1       2

In [6]:
for col in data.columns:
    if data[col].dtype == 'object':
        try:
            data[col] = pd.to_datetime(data[col])
        except ValueError:
            pass

In [7]:
data.dtypes

Date       datetime64[ns]
Life       datetime64[ns]
DOB        datetime64[ns]
DOB.1      datetime64[ns]
Name               object
City               object
Country            object
dtype: object

In [8]:
temp = data.select_dtypes(include=[np.datetime64])

In [9]:
temp

        Date       Life        DOB      DOB.1
0 2020-06-26 2020-05-25 1990-06-26 1990-06-26
1 2020-06-27 2020-05-26 1990-06-27 1990-06-27
2 2020-06-28 2020-05-27 1990-06-28 1990-06-28
3 2020-06-29 2020-05-28 1990-06-29 1990-06-29
4 2020-06-30 2020-05-29 1990-06-30 1990-06-30

In [10]:
n = len(temp.columns)
p = str(temp.columns[n-n]+ "-"+ temp.columns[n-(n-1)])
p

'Date-Life'

In [11]:
n

4

In [21]:
n = len(temp.columns)
i= 1
j=0
while i < n-1:
    p = str(temp.columns[j-j]+ "-"+ temp.columns[j+(i)])
    temp[p] = ((temp[temp.columns[n-n]])-(temp[temp.columns[n-(n+1)]]))
    i +=1

In [22]:
temp

,Date,Life,DOB,DOB.1,Date_DOB,Date_DOB1,Date-DOB,Date-Date_DOB,Date-Date-DOB,Date-Date-Date-DOB,Date-Life,Date-DOB.1,Date-Date_DOB1,Date-Date-Date_DOB,Date-Date-Date-Date-DOB,Date-Date-Life,Date-Date-DOB.1,Date-Date-Date_DOB1
0,2020-06-26,2020-05-25,1990-06-26,1990-06-26,10958 days,10958 days,2020-05-25,2020-05-25,2020-05-25,32 days,2020-05-25,2020-05-25,2020-05-25,2020-05-25,32 days,2020-05-25,32 days,2020-05-25
1,2020-06-27,2020-05-26,1990-06-27,1990-06-27,10958 days,10958 days,2020-05-26,2020-05-26,2020-05-26,32 days,2020-05-26,2020-05-26,2020-05-26,2020-05-26,32 days,2020-05-26,32 days,2020-05-26
2,2020-06-28,2020-05-27,1990-06-28,1990-06-28,10958 days,10958 days,2020-05-27,2020-05-27,2020-05-27,32 days,2020-05-27,2020-05-27,2020-05-27,2020-05-27,32 days,2020-05-27,32 days,2020-05-27
3,2020-06-29,2020-05-28,1990-06-29,1990-06-29,10958 days,10958 days,2020-05-28,2020-05-28,2020-05-28,32 days,2020-05-28,2020-05-28,2020-05-28,2020-05-28,32 days,2020-05-28,32 days,2020-05-28
4,2020-06-30,2020-05-29,1990-06-30,1990-06-30,10958 days,10958 days,2020-05-29,2020-05-29,2020-05-29,32 days,2020-05-29,2020-05-29,2020-05-29,2020-05-29,32 days,2020-05-29,32 days,2020-05-29

In [23]:
Date_DOB = temp['Date']-temp['DOB']
temp['Date_DOB'] = Date_DOB
Date_DOB1 = temp['Date']-temp['DOB.1']
temp['Date_DOB1'] = Date_DOB1
temp['Date_DOB'] = Date_DOB

In [24]:
temp

,Date,Life,DOB,DOB.1,Date_DOB,Date_DOB1,Date-DOB,Date-Date_DOB,Date-Date-DOB,Date-Date-Date-DOB,Date-Life,Date-DOB.1,Date-Date_DOB1,Date-Date-Date_DOB,Date-Date-Date-Date-DOB,Date-Date-Life,Date-Date-DOB.1,Date-Date-Date_DOB1
0,2020-06-26,2020-05-25,1990-06-26,1990-06-26,10958 days,10958 days,2020-05-25,2020-05-25,2020-05-25,32 days,2020-05-25,2020-05-25,2020-05-25,2020-05-25,32 days,2020-05-25,32 days,2020-05-25
1,2020-06-27,2020-05-26,1990-06-27,1990-06-27,10958 days,10958 days,2020-05-26,2020-05-26,2020-05-26,32 days,2020-05-26,2020-05-26,2020-05-26,2020-05-26,32 days,2020-05-26,32 days,2020-05-26
2,2020-06-28,2020-05-27,1990-06-28,1990-06-28,10958 days,10958 days,2020-05-27,2020-05-27,2020-05-27,32 days,2020-05-27,2020-05-27,2020-05-27,2020-05-27,32 days,2020-05-27,32 days,2020-05-27
3,2020-06-29,2020-05-28,1990-06-29,1990-06-29,10958 days,10958 days,2020-05-28,2020-05-28,2020-05-28,32 days,2020-05-28,2020-05-28,2020-05-28,2020-05-28,32 days,2020-05-28,32 days,2020-05-28
4,2020-06-30,2020-05-29,1990-06-30,1990-06-30,10958 days,10958 days,2020-05-29,2020-05-29,2020-05-29,32 days,2020-05-29,2020-05-29,2020-05-29,2020-05-29,32 days,2020-05-29,32 days,2020-05-29